@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.tab-slider--tabs {
  background: transparent;
  border-radius: $tab-rounded;
  position: relative;
  border: 1px solid #afaebd;

  &:after {
    background: $fuchsia;
    border-radius: $tab-rounded;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 250ms ease-in-out;
    width: 50%;
  }

  &.slide:after {
    left: 50%;
  }
}

.tab-slider--trigger {
  @include font-size(16px, 500, 1);
  cursor: pointer;
  display: inline-block;
  padding: 11px 20px;
  position: relative;
  transition: $default-transition;
  z-index: 2;

  &.active {
    color: $white;
  }
}

body.light {
  color: $black;
}

body.dark {
  color: $white;
}