// colors
$bg-page-light: #f7f7f7;
$bg-page-dark: #333333;
$black: #222222;
$white: #fff;
$soft-black: #777;
$soft-gray: #EAEAEA;
$gray: #bdbdbd;
$fuchsia: #FF2E63;
$purple: #6c63ff;
$blue: #7A86B6;
$teal: #08D9D6;
$dark-gray: #717082;

/* Typography */
$jost: 'Jost', sans-serif;
$outfit: 'Outfit', sans-serif;

// efects
$rounded: 50px;
$tab-rounded: 35px;
$default-transition: color .3s ease-in-out, background .3s ease-in-out, border-color .3s ease-in-out, transform .3s ease-in-out, fill .3s ease-in-out, box-shadow .3s ease-in-out, opacity .3s ease-in-out;
$vibrate: vibrate 0.3s linear infinite both;
$slide-out: slide-out-blurred-top .45s cubic-bezier(.755, .05, .855, .06) both;
$btn-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
$btn-shadow-hover: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
$btn-shadow-active: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;

// keyframes
@keyframes vibrate {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
